* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 3rem 2rem;
  background-color: hsl(356, 100%, 66%);
  background-image: url("../images/bg-pattern-intro-mobile.svg");
  background-position: 40% center;
  border-bottom-left-radius: 70px;
}
.header__title {
  margin: 7rem 0 2rem 0;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  text-align: center;
  font-size: 2.7em;
}
.header__info {
  margin-bottom: 4.5rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}
.header__btn {
  padding: 1rem 1.5rem;
  width: 48%;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  background: none;
  border-radius: 30px;
  cursor: pointer;
}
.header__btn--trial {
  background-color: white;
  color: hsl(356, 100%, 66%);
}
.header__btn--more-info {
  border: 1px solid hsl(0, 0%, 100%);
}

.nav {
  position: relative;
}
.nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__links, .nav__login {
  display: none;
}
.nav__logo-box {
  cursor: pointer;
}
.nav__logo-box img {
  width: 70%;
}
.nav__bars {
  cursor: pointer;
}
.nav__bars img {
  width: 80%;
}
.nav__links {
  position: absolute;
  margin-top: 2rem;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 20px rgb(167, 167, 167);
          box-shadow: 1px 1px 20px rgb(167, 167, 167);
}
.nav__link-box, .nav__sublink-box {
  list-style: none;
}
.nav__link, .nav__sublink {
  text-decoration: none;
  font-weight: 700;
}
.nav__link {
  margin-bottom: 2rem;
  color: hsl(237, 17%, 21%);
  font-size: 1.8rem;
  cursor: pointer;
}
.nav__sublink {
  color: hsl(207, 13%, 34%);
  font-size: 1.6rem;
}
.nav__sublinks {
  display: none;
  margin-top: 1.5rem;
  padding: 1.5rem 0;
  background-color: hsl(0, 0%, 95%);
}
.nav__sublink-box {
  margin: 1.5rem 0;
}
.nav__underline {
  margin-bottom: 2rem;
  height: 1px;
  background-color: hsl(0, 0%, 95%);
}
.nav__btn-login, .nav__btn-signup {
  list-style: none;
  cursor: pointer;
}
.nav__btn-login a, .nav__btn-signup a {
  text-decoration: none;
}
.nav__btn-login {
  font-size: 1.8rem;
}
.nav__btn-login a {
  color: hsl(207, 13%, 34%);
  font-weight: bold;
}
.nav__btn-signup {
  display: inline-block;
  margin: 1.5rem 0 1rem 0;
  padding: 1rem 3rem;
  background-image: -webkit-gradient(linear, left top, right top, from(hsl(13, 100%, 72%)), to(hsl(353, 100%, 62%)));
  background-image: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-radius: 25px;
}
.nav__btn-signup a {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 1.6rem;
}

.nav__link .nav__sublinks.show {
  display: block;
}

.show {
  display: block;
}

@media (min-width: 768px) {
  .header__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
  }
  .header__btn {
    max-width: 150px;
    width: 20%;
  }
}
@media (min-width: 992px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__bars {
    display: none;
  }
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav__link, .nav a {
    color: hsl(0, 0%, 100%);
  }
}/*# sourceMappingURL=style.css.map */