@media (min-width: 576px) {
  .design {

    &__img-box {
      display: flex;
      justify-content: center;
    }
    &__image--mobile {
      width: 50%;
      
    }
  }
}


@media (min-width: 768px) {
  .header {
    &__btns {
      display: flex;
      justify-content: center;
      gap: 3rem;
    }
    &__btn {
      max-width: 150px;
      width: 20%;
    }
  }

  
}

@media (min-width: 992px) {
  .header {
    padding-top: 2rem;
    background-image: url("../images/bg-pattern-intro-desktop.svg");

    &__title {
      font-size: 4.8rem;
    }

    &__info {
      font-size: 1.8rem;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__box {
      height: auto;
    }
    &__bars {
      display: none;
    }

    &__links {
      display: flex;
      align-items: center;
      position: relative;
      margin: 0;

      background-color: transparent;
      box-shadow: none;
    }

    &__link,
    a {
      color: $white;
    }

    &__link {
      margin: 0 1rem;
    }

    &__link-icon-light {
      display: inline-block;
    }
    &__link-icon-dark {
      display: none;
    }

    &__btns {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 2.5rem;
    }
    &__btn-signup {
      margin: 0;
      background-image: none;
      background-color: $white;
      a {
        color: $lightRed;
      }
    }

    &__logo-box {
      margin-right: 2rem;
      img {
        width: 120%;
      }
    }

    &__links-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
  .design {
    text-align: left;
    padding: 4rem;
    
    
    &__box {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }

    &__info {
      width: 50%;
    }

    &__title {
      margin-top: 4rem;
      font-size: 4rem;
      text-align: center;
    }

    &__subtitle {
      margin-bottom: 2.5rem;
      font-size: 2.4rem;
    }

    &__description {
      margin-bottom: 6rem;
      font-size: 1.8rem;
    }
  
    &__img-box {
      position: relative;
      right: -15%;
      width: 50%;
      order: 100;
    }

    &__image--desktop {
      width: 130%;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__image {
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
  }
}
