$ctaText: hsl(356, 100%, 66%);
$ctaHover: hsl(355, 100%, 74%);
$headings: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$footerText: hsl(240, 2%, 79%);
$bodyCopy: hsl(207, 13%, 34%);
$footerBackground: hsl(240, 10%, 16%);
$veryLightRed: hsl(13, 100%, 72%);
$lightRed: hsl(353, 100%, 62%);
$darkGrayBlue: hsl(237, 17%, 21%);
$darkBlue: hsl(237, 23%, 32%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  // font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 3rem 2rem;
  background-color: $ctaText;
  background-image: url("../images/bg-pattern-intro-mobile.svg");
  background-position: 40% center;
  border-bottom-left-radius: 70px;

  &__title {
    margin: 7rem 0 2rem 0;
    color: $white;
    font-weight: 400;
    text-align: center;
    font-size: 2.7em;
  }

  &__info {
    margin-bottom: 4.5rem;
    color: $white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
  }

  &__btn {
    padding: 1rem 1.5rem;
    width: 48%;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: $white;
    background: none;
    border-radius: 30px;
    cursor: pointer;

    &--trial {
      background-color: white;
      color: $ctaText;
    }

    &--more-info {
      border: 1px solid $white;
    }
  }
}

.nav {
  position: relative;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links,
  &__login {
    display: none;
  }

  &__logo-box {
    cursor: pointer;
    img {
      width: 70%;
    }
  }

  &__bars {
    cursor: pointer;
    img {
      width: 80%;
    }
  }

  &__links {
    position: absolute;
    margin-top: 2rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgb(167, 167, 167);
  }

  &__link-box,
  &__sublink-box {
    list-style: none;
  }

  &__link,
  &__sublink {
    text-decoration: none;

    font-weight: 700;
  }

  &__link {
    margin-bottom: 2rem;
    color: $darkGrayBlue;
    font-size: 1.8rem;
    cursor: pointer;
  }

  &__sublink {
    color: $bodyCopy;
    font-size: 1.6rem;
  }

  &__sublinks {
    display: none;
    margin-top: 1.5rem;
    padding: 1.5rem 0;

    background-color: hsl(0, 0%, 95%);
  }

  &__sublink-box {
    margin: 1.5rem 0;
  }

  &__underline {
    margin-bottom: 2rem;
    height: 1px;
    background-color: hsl(0, 0%, 95%);
  }

  &__btn-login, &__btn-signup {
    list-style: none;
    cursor: pointer;
    a {
      text-decoration: none;
    }
  }

  &__btn-login {
    font-size: 1.8rem;
    a {
      color: $bodyCopy;
      font-weight: bold;
    }
    
  }

  &__btn-signup {
    display: inline-block;
    margin: 1.5rem 0 1rem 0;
    padding:1rem 3rem;
    background-image: linear-gradient(90deg, $veryLightRed, $lightRed);
    border-radius: 25px;
    a {
      color: $white;
      font-weight: bold;
      font-size: 1.6rem;
    }
  }
}

.nav__link .nav__sublinks.show {
  display: block;
}

.show {
  display: block;
}


@import 'media.scss';